body {
  background: #3B3443;
  color: #FF836A;
  font-family: 'Noto Sans JP', sans-serif;
}

.header {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  background: #332e38;
  display: table;
}

.header > div {
  display: table-cell;
}

.main {
  width: 50%;
  margin: auto;
  padding-top: 10px;
}


h1, h2, h3 {
  color: #B0A8B9;
}

a {
  color: #C54E39;
  font-weight: bold;
}

.very_easy {
  color: #99ff66;
}

.easy {
  color: #0fbd66;
}

.average {
  color: #cccc00;
}

.hard {
  color: #e64d00;
}

.very_hard {
  color: #ff33cc;
}
